@model IEnumerable<ChienVHShopOnline.Models.Color>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_MainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Color1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Color1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ColorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ColorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ColorId })
        </td>
    </tr>
}

</table>
